/* style.css */

body, html {
  padding: 12px;
  font-family: "Verdana", "sans-serif", "Arial";
}

a {
  cursor: pointer;
}
a.disable {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #000;
}

.locale_list.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/**
 * common
 */
.no-touch {
  pointer-events: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

/**
 * home page
 */

.logo-list {
  padding-top: 20px;
  padding-bottom: 40px;
}

.logo-list * {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.logo {
  margin: 10px;
}

.logo-eth {
  font-size: 2em;
  letter-spacing: -0.03em;
  color: #959CB5;
}

.logo-list .logo-btc {
  height: 34px;
  line-height: 34px;
}

.logo-list .logo-dash {
  height: 32px;
  line-height: 32px;
}

.footer {
  margin-top: 20px;
}

/**
 * generate page
 */

.generate {
  font-size: 1.25em;
  height: 305px;
  padding: 5px;
  border: 2px solid #2165b3;
}

.seedpoint {
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background-color: #2165b3;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

/**
 * result page
 */

.result {
  width: 812px;
  margin: 0px auto;
}

.paperarea {
  display: table;
  min-height: 120px;
}
.table {
  display: table;
  border-collapse: collapse;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  border: 2px solid #2165b3;
}

.keyarea {
  height: 120px;
  padding: 40px 5px 30px 5px;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.logo-min {
  margin-top: -40px;
  height: 40px;
  /*line-height: 40px;*/
  vertical-align: middle;
}
.logo-min.logo-eth {
  top: -20px;
}

.logo-min.logo-btc {
  height: 32px;
}

.logo-min.logo-dash {
  height: 28px;
}


button.btn {
  margin: 5px;
}

/* share */
.keyarea .share {
  position: absolute;
  float: left;
  text-align: left;
}
.keyarea .qrcodeshare {
  float: left;
}
.keyarea .shareaddress {
  float: left;
  padding-left: 10px;
}

/* private */
.keyarea .private {
  position: relative;
  top: 16px;

  float: right;
  text-align: right;
}
.keyarea .qrcodeprivate {
  float: right;
}
.keyarea .privatewif {
  float: right;
  padding-right: 10px;
  
  position: relative;
  top: 38px;
}

/* address */
.label {
  display: inline-block;
  font-weight: normal;
  font-size: 1.0em;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* wif */
.output {
  display: block;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;;
  font-size: 1.25em;
}

.selectable {
  position: relative;
  z-index: 999;
}

/**
 * print
 */
@media print
{
  header { display: none }
  h3 { display: none }
  button.btn { display: none }
}
